\documentclass[11pt]{article}

\usepackage[utf8]{inputenc}
\usepackage[T1]{fontenc}
\usepackage[margin=1in]{geometry}
\usepackage{booktabs}
\usepackage{tabularx}
\usepackage{hyperref}
\usepackage{natbib}

\title{Literature Review: __TITLE__}
\author{}
\date{\today}

\begin{document}
\maketitle

\begin{abstract}
__ABSTRACT__
\end{abstract}

% One \section per group, each followed by a narrative paragraph
% and a booktabs table of the group's papers. See references/bib-workflow.md.
__BODY__

\bibliographystyle{plainnat}
\bibliography{review}

\end{document}
